<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Film details</title>
	</head>
	<body>
		<div id="film-details-container"></div>
		<script type="text/template" id="film-details-template">
			<div>
				<span>Name: </span><span class='film-name'><%= name %></span>
			</div>
			<div>
				<span>Year: </span><span class='film-year'><%= year %></span>
			</div>
		</script>
		<script src="./javascripts/jquery.js"></script>
		<script src="./javascripts/underscore.js"></script>
		<script src="./javascripts/backbone.js"></script>
		<script src="./javascripts/Film.js"></script>
		<script src="./javascripts/FilmDetailsView.js"></script>
	</body>
</html>