doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Film details
  body
    #film-details-container
    script#film-details-template(type='text/template')
      <div>
      <span>Name: </span><span class='film-name'><%= name %></span>
      </div>
      <div>
      <span>Year: </span><span class='film-year'><%= year %></span>
      </div>
    script(type="text/javascript", src="../../bower_components/requirejs/require.js", data-main='javascripts/requireConfig')
    script(type="text/javascript", src="javascripts/film-details.js")