<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Film details</title>
  </head>
  <body>
    <div id="film-details-container"></div>
    <script id="film-details-template" type="text/template">
      <div>
      <span>Name: </span><span class='film-name'><%= name %></span>
      </div>
      <div>
      <span>Year: </span><span class='film-year'><%= year %></span>
      </div>
    </script>
    <script type="text/javascript" src="../../bower_components/requirejs/require.js" data-main="javascripts/requireConfig"></script>
    <script type="text/javascript" src="javascripts/film-details.js"></script>
  </body>
</html>